:root {
  --neon-color: #00ff00; /* Default neon green color */
  --neon-blue: #02A4D3;
}

body {
    background-image: url("./public/rooftops3.png");
    overflow: none;
    color: var(--neon-color); /* Neon green color */
    font-family: "Press Start 2P", monospace;
    font-size: 12px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#game {
    text-align: center;
    width: 80%;
}

#header {
  color: var(--neon-color); /* green text */
  text-align: center; /* Centers the text horizontally */
  padding: 10px 0; /* 10px top and bottom padding, 0 left and right */
  width: 100%; /* Full width */
}

#footer {
  background-color: #2b8d1a; /* Green background */
  color: black; /* black text */
  text-align: center; /* Centers the text horizontally */
  padding: 10px 0; /* 10px top and bottom padding, 0 left and right */
  width: 100%; /* Full width */
}

#header {
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
}

#footer {
  position: fixed; /* Fixed at the bottom */
  bottom: 0;
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
}

body {
  padding-top: 60px; /* Adjust based on header height */
  padding-bottom: 60px; /* Adjust based on footer height */
}

#image-section {
    border: 2px solid var(--neon-color); /* Neon green border */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    
        max-width: 100%;
    
    height: 300px; /* Adjust the height according to your image size */
    position: relative;
    overflow: hidden;
    animation: slide-down 1s ease forwards;
}

#image-section::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px; /* Offset by the border size */
  left: -2px; /* Offset by the border size */
  right: -2px; /* Offset by the border size */
  bottom: -2px; /* Offset by the border size */
  border: 2px solid var(--neon-color);
  border-radius: 10px;
  pointer-events: none; /* This will ensure that the pseudo-element does not interfere with mouse events */
  z-index: 1; /* Ensures the border is above the image */
}

#story, #inventory, #character {
    animation: slide-left 1s ease forwards;
  }

  #options, #enemy {
    animation: slide-right 1s ease forwards;
  }

  #image-section img {
    width: calc(100% + 4px); /* Increase width to allow for overflow under the border */
    height: calc(100% + 4px); /* Increase height to allow for overflow under the border */
    object-fit: cover;
    position: absolute;
    top: -2px; /* Offset by the border size */
    left: -2px; /* Offset by the border size */
    display: none; /* Keep it hidden by default */
    z-index: 0; /* Ensures the image is below the pseudo-element border */
}

#image-section.show-image img {
    display: block; /* Show the image when the 'show-image' class is added */
}

#story {
    margin-bottom: 20px;
    background-color: black;
    box-shadow: inset 3px 0px 3px 3px rgba(0, 128, 0, 0.459);
}

#options {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

button {
  background-color: #282828; /* Dark grey */
  border: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #39FF14; /* Neon green for text */
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #39FF14; /* Neon green background */
  color: #282828; /* Dark text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#character, #enemy {
    margin-top: 30px;
    background-color: black;
    box-shadow: inset 4px 1px 4px 4px rgba(0, 128, 0, 0.459);
}

#character-stats {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  color: var(--neon-color);
}

.status-bar {
  width: 100%; /* Full width of the container */
  background-color: #444; /* A darker background for the unfilled portion */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures the inner div does not spill out */
  display: flex; /* So it fills from left to right and not from center */
}

.status-bar-fill {
  width: 0%; /* Start with an empty bar */
  background-color: var(--neon-color); /* Start with your neon color */
  height: 20px; /* Height of the filled portion */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left side */
    transition: width 1s ease-in-out; /* Smooth transition for the width */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Ensure the text does not wrap */
}

@keyframes sway {
  0%, 100% {
      transform: rotate(-1deg);
  }
  50% {
      transform: rotate(1deg);
  }
}

.drunkness-sway {
  animation: sway 3s ease-in-out infinite;
}

#health,
#drunkness,
#stoned {
  font-size: 18px;
  padding: 18px;
}

 @keyframes background-color-cycle {
  0% { background-color: #ff2d95; }
  25% { background-color: #ff2d95; }
  50% { background-color: #02A4D3; }
  75% { background-color: #ff7f00; }
  100% { background-color: #ff2d95; }
}

.color-cycle {
  animation: background-color-cycle 30s infinite linear;
} 

#health-value {
  display: inline-block;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background: green;
  transition: width 0.5s ease;
  text-align: center;
}

#drunkness-value {
  display: inline-block;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  background: #ff2d95;
  transition: width 0.5s ease;
  text-align: center;
}

/* Add a glow effect to the health and drunkness bars */
#health-value, #drunkness-value {
  box-shadow: 0 0 5px var(--neon-color), 0 0 10px var(--neon-color);
}

#inventory {
  margin-top: 30px;
  background-color: black;
  color: white; /* For better visibility against the black background */
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Increased gap for more space between items */
}

.item {
  border: 1px solid var(--neon-color); /* Neon green color */
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  min-width: 175px; /* Increased minimum width */
  display: flex;
  align-items: center; /* Align items and text vertically */
  gap: 10px; /* Space between the icon and the text */
  justify-content: start; /* Align content to the start if you want text next to the icon */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.item img {
  width: 30px; /* Adjust based on your preference */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  animation: pulse 2s infinite;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.game-section {
    flex-basis: calc(50% - 10px);
    background-color: rgba(0, 128, 0, 0.103); 
    border: 1px solid var(--neon-color);/* Neon green border */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
}

.game-section:hover {
  box-shadow: 0 6px 12px rgba(0, 255, 0, 0.4);
  transition: box-shadow 0.2s ease;
}

#story {
    flex-basis: 100%;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#main-page {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.typewriter {
    overflow: visible;
    white-space: pre-wrap;
    border-right: 5px solid var(--neon-color);
    animation: typing 0.3s step-end infinite;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.664); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 80px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%; /* Could be more or less, depending on screen size */
  position: relative;
  box-shadow: inset 4px 1px 4px 4px rgba(0, 128, 0, 0.459);
}

/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


  @keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
      opacity: 1;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
      opacity: 0.4;
    }
  }
  
  .flickering-text {
    animation: flicker 3s infinite;
  }

  /* Create a keyframe animation for the glowing effect */
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px var(--neon-color);
  }
  50% {
    box-shadow: 0 0 10px #33ff33, 0 0 20px #33ff33;
  }
}

/* Apply the glowing effect to elements with green borders -- */
#image-section,
.game-section {
  animation: glow 1.5s infinite;
}
  
  @keyframes typing {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: var(--neon-color);
    }
  }

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  

/* Responsive styles */
@media screen and (max-width: 768px) {

    #game {
        width: 90%;
    }

    /* Increase font size for better readability on mobile devices */
    body {
        font-size: 14px; /* Increase the font size to 24px or adjust it to your preference */
        background-image: url("./public/backgrounds/bg7.png");
    }

    /* Adjust button width for mobile devices */
    button {
        width: 80%;
    }

    .game-section {
      flex-basis: 100%;
  }

    #main-page h1 {
      font-size: 2rem;
      margin-bottom: 10px;
  }
}


