body {
    background-color: black;
    color: #00ff00; /* Neon green color */
    font-family: "Press Start 2P", monospace;
    font-size: 12px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#game {
    text-align: center;
    width: 80%;
}

#header {
  background-color: #39FF14; /* Green background */
  background-image: url("./public/banner2.jpg");
  color: #00ff00; /* black text */
  text-align: center; /* Centers the text horizontally */
  padding: 10px 0; /* 10px top and bottom padding, 0 left and right */
  width: 100%; /* Full width */
}

#footer {
  background-color: #2b8d1a; /* Green background */
  color: black; /* black text */
  text-align: center; /* Centers the text horizontally */
  padding: 10px 0; /* 10px top and bottom padding, 0 left and right */
  width: 100%; /* Full width */
}

#header {
  position: fixed; /* Fixed at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
}

#footer {
  position: fixed; /* Fixed at the bottom */
  bottom: 0;
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
}

body {
  padding-top: 60px; /* Adjust based on header height */
  padding-bottom: 60px; /* Adjust based on footer height */
}

#image-section {
    border: 2px solid #00ff00; /* Neon green border */
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    
        max-width: 100%;
    
    height: 300px; /* Adjust the height according to your image size */
    position: relative;
    animation: slide-down 1s ease forwards;
}

#story, #inventory, #character {
    animation: slide-left 1s ease forwards;
  }

  #options, #enemy {
    animation: slide-right 1s ease forwards;
  }

#image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* Hide the image by default */
}

#image-section.show-image img {
    display: block; /* Show the image when the 'show-image' class is added */
    background-color: black;
}

#story {
    margin-bottom: 20px;
    background-color: black;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

button {
    background-color: black;
    border: 2px solid #00ff00; /* Neon green border */
    border-radius: 10px;
    color: #00ff00; /* Neon green text */
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    transition: border 0.3s;
}

button:hover {
    border-color: #33ff33; /* Lighter green color */
    box-shadow: 0 0 10px #33ff33, 0 0 20px #33ff33, 0 0 30px #33ff33, 0 0 40px #33ff33; /* Green glowing effect */
}

#character, #enemy {
    margin-top: 30px;
    background-color: black;
}

#character-stats {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

#health,
#drunkness,
#stoned {
  font-size: 18px;
  padding: 18px;
}

#inventory {
    margin-top: 30px;
    background-color: black;
}

.inventory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item {
    border: 1px solid #00ff00; /* Neon green color */
    padding: 10px;
    width: 120px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.game-section {
    flex-basis: calc(50% - 10px);
    border: 1px solid #00ff00;/* Neon green border */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#story {
    flex-basis: 100%;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#main-page {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.typewriter {
    overflow: visible;
  white-space: pre-wrap;
    border-right: 5px solid #00ff00;
    animation: typing 0.3s step-end infinite;
  }

  /* Create a keyframe animation for the glowing effect */
@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #00ff00;
  }
  50% {
    box-shadow: 0 0 10px #33ff33, 0 0 20px #33ff33;
  }
}

/* Apply the glowing effect to elements with green borders */
#image-section,
.item,
.game-section {
  animation: glow 1.5s infinite;
}
  
  @keyframes typing {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: #00ff00;
    }
  }

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  

/* Responsive styles */
@media screen and (max-width: 768px) {
    #game {
        width: 90%;
    }

    /* Increase font size for better readability on mobile devices */
    body {
        font-size: 14px; /* Increase the font size to 24px or adjust it to your preference */
    }

    /* Adjust button width for mobile devices */
    button {
        width: 80%;
    }

    .game-section {
      flex-basis: 100%;
  }

    #main-page h1 {
      font-size: 2rem;
      margin-bottom: 10px;
  }
}
